<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Gallery</title>
</head>
<body>
    <div class="navbar">
        <ul class="navbar-list">
          <li class="navbar-element"><a href="{{ url_for('index') }}">Home</a></li>
          <li class="navbar-element"><a href="{{ url_for('aboutme') }}">About Me</a></li>
          <li class="navbar-element"><a href="{{ url_for('gallery') }}">Gallery</a></li>
          <li class="navbar-element"><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </div>
    <br>
    <div class="content">
        <h1>Gallery</h1>
        <img src="{{ url_for('static', filename='Sandman.jpg') }}" alt="sandman">
        <img src="{{ url_for('static', filename='Skull.jpg') }}" alt="skull">
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
        <p><a href="{{ url_for('redirect_to_home') }}">Go to Home</a></p>
    </div>
</body>
</html>